
* {
    box-sizing: border-box;
    margin: 0;
}
/******************* 
    Grid layout
********************/

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: main;
}

.widget-conatiner-full, .widget-container-half {
    width: 95vw;
}

/******************* 
    Header
********************/

header {
    background-color: rgb(141, 140, 210);
    display: grid;
    grid-template-columns: 1fr 50px 10px 65px 70px;
    grid-template-rows: 70px;
    align-items: center;
    padding: 10px;
}

.page-name, .user-name {
    color: #fff;
    font-weight: 100;
}

.vl {
    border-left: 1px solid rgb(196, 196, 196);
    height: 60px;
}

.notifications-button {
    border-style: none;
    background-color: transparent;
    width: 25px;
    padding: 0px;
    cursor: pointer;
}

.profile-image {
    height: 3.5em;
    border-radius: 50%;
}

.user-name {
    font-size: .90em;
}

/******************* 
    Navigation
********************/

.navigation {
    display: flex;
    place-content: center;
    place-items: center;
    background-color:rgb(71, 70, 131);
    padding: 15px 0;
}

.nav-item-wrap {
    width: 15%;
    cursor: pointer;
}

.navigation svg {
    width: 50%;
}

/******************* 
    Main
********************/

.main-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

.headline {
    margin: 20px 20px;
    font-weight: 100;
}

.tab {
    height: 67px;
    background-color: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(219, 219, 219);
    border-left: 1px solid rgb(219, 219, 219);;
}

.bell-icon-dot {
    background: rgb(58, 246, 48);
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.bell-icon {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.bell-icon {
    animation: nudge-bell 1s infinite;
}

 @keyframes nudge-bell {
    15% {
        transform: rotate(-45deg);
    }

    30% {
        transform: rotate(45deg);
    }

    60% {
        transform: rotate(-45deg)
    }
 }

 .alert {
    width: 100%;
    position: relative;
    display: inline-block;
 }

.alert-banner {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(141, 140, 210);
}

.alert-banner-close {
    cursor: pointer;
}

.alert-banner p {
    color: #fff;
    font-weight: 200;
}

.drop-menu {
    border: none;
    color: white;
    background-color: rgb(141, 140, 210);
    cursor: pointer;
}

.drop-menu:hover {
    color: rgb(79, 249, 87);
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + .30rem);
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(173, 171, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-list li {
    list-style: none;
    padding: 10px 0 10px 0;
}

.dropdown-list a:hover {
    color:rgb(82, 82, 82);
}

.dropdown-item {
    color: white;
    text-decoration: none;
    display: block;
}

.show {display:block}

.traffic, .daily, .mobile, .social-stats, .members, .activity, .message, .settings {
    border-bottom: 2px solid rgb(209, 209, 209);
    padding: 20px;
}

/**********************
    Traffic Nav
 **********************/

.traffic-header h3 {
    padding-bottom: 20px;
}

.traffic-nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

/**********************
    Social Stats
 **********************/

 .social-stats h3 {
    padding-bottom: 20px;
 }

 .social-container-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .social-container {
    display: flex;
    align-items: center;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
 }

 .social-container svg {
    width: 55px;
 }

 .social-text p {
    padding-left: 15px;
 }

 .social-text p:first-child {
    color: rgb(141, 140, 210);
 }

 .social-text p:last-child {
    font-size: 175%;
    color: rgb(121, 121, 121);
 }

 /***** SVG Styling *****/

 /* .svg-image {
    fill: white;
 } */

 .circle {
    fill:rgb(141, 140, 210);
 }


 /************************************
    New Members / Recent Activity
 **************************************/

 .members h3, .activity h3 {
    padding-bottom: 20px;
 }

 .members-container-all, .activity-container-all {
    display: flex;
    flex-direction: column;
    gap: 15px;
 }

 .members-container, .activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid rgb(209, 209, 209);
    padding-bottom: 20px;
 }

 .activity-button {
    display: none;
 }

 /**********************
    Message User
 **********************/

 .message h3 {
    padding-bottom: 20px;
 }

 .message-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
 }

 .form-field, .form-area {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1.5px solid rgb(209, 209, 209);
    background-color: rgb(246, 246, 246);
    overflow: auto;
 }

 .list-item:hover {
    color: rgb(143, 143, 143);
 }

 .form-area {
    height: 155px;
 }

 .button-primary {
    padding: 10px;
    background-color: rgb(141, 140, 210);
    color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
 }

  /**********************
    Settings
 **********************/

.settings h3 {
    padding-bottom: 20px;
}
 .settings-choices {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .settings-choices label {
    display: grid;
    grid-template-columns: 215px 100px;
    align-items: center;
 }

 .settings-button {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
 }

 #save, #cancel {
    width: 50%;
 }

 #save:hover, #cancel:hover {
    cursor: pointer;
 }

 #save:hover {
    background-color: rgb(170, 169, 251);
 }

/**********************
    Mdia Queries
 **********************/

 @media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 80px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }

    .navigation {
        flex-direction: column;
        place-content: flex-start;
        row-gap: 20px;
        height: 100%;
    }

    .navigation svg {
        width: 40px;
    }

    .nav-item-wrap {
        width: 43px;
    }

     main {
        display: grid;
        grid-template-columns: 50%;
    }

    .main-header {
        grid-column: 1 / span 2;
    }

    .traffic,
    .social-stats,
    .alert,
    .members,
    .activity,
    .message,
    .settings {
        grid-column: 1 / span 2;
    }

    .daily {
        grid-column: 1 / span 1;
        border-right: 2px solid rgb(209, 209, 209);
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    .widget-conatiner-full {
        width: 90vw;
    }

     .widget-container-half {
        width: 45vw;
    }

    .social-container-all {
        flex-direction: row;
        justify-content: space-between;
    }

    .traffic-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .members-container, .activity-container {
        flex-direction: row;
        gap: 20px;
    }

    .members-text, .activity-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-right: auto;
    }

    .activity-button {
        display: inherit;
    }
    
    .arrow {
        background: none;
        border: none;
        cursor: pointer;
    }
 }

 @media screen and (min-width: 1024px) {
    .members, .message {
        grid-column: 1 / span 1;
    }

    .activity, .settings {
        grid-column: 2 / span 1;
    }

    .members, .message {
        border-right: 2px solid rgb(209, 209, 209);
    }

    .settings-choices {
        gap: 40px;
    }


 }